---
import type { GetStaticPaths } from "astro";
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../sanity/lib/load-query.ts";
import PortableText from "../components/PortableText.astro";
import PortableTextImage from "../components/PortableTextImage.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export const getStaticPaths = (async () => {
    const {data: posts} = await loadQuery<SanityDocument[]>({
        query: `*[_type == "post"]`,
    });

    return posts.map(({slug}) => {
        return {
            params: {
                slug: slug.current,
            },
        };
    });

}) satisfies GetStaticPaths;

const { params } = Astro;

const { data: post } = await loadQuery({
  query: `*[_type == "post" && slug.current == $slug][0]{mainImage{..., alt}, publishedAt, title, body}`,
  params,
});
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="px-4 pt-4 mx-auto max-w-screen-sm bg-dark">
    <Header />
    <main class="px-2 pt-4 space-y-4 border-x border-x-white/25">
        <div>
            <h1 class="text-3xl text-white/85 font-bold">{post.title}</h1>
            <p class="text-sm text-white/85 italic">Publicado el {new Date(post.publishedAt).toLocaleString("es-AR", {timeZone: "GMT", day: "numeric", month: "long", year: "numeric"})}</p>    
        </div>
        <PortableTextImage asset={post.mainImage.asset} alt={post.mainImage.alt} />
        <section class="mt-8 text-white/85">
            <article class="article">
                <PortableText portableText={post.body} />
            </article>
        </section>
    </main>
    <Footer />
</body>
</html>

